#root {
  width: 820px;
  height: 1200px;
  text-align: center;
  filter: grayscale(100);
}

#root.landscape {
  width: 1200px;
  height: 820px;
  transform-origin: top left;
  transform: rotate(-90deg);
  position: absolute;
  /* top: 0; */
  top: 100vh;
  left: 0;
}
