@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --display-width: 820px;
  --display-height: 1200px;
}
#root {
  width: var(--display-width);
  height: var(--display-height);
  filter: grayscale(100);
  overflow: hidden;
}

#panel_grid {
  display: grid;
  grid-template-rows: 0.9fr 1fr 0.9fr 34px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "panel_1 panel_1"
    "panel_2 panel_3"
    "panel_4 panel_4"
    "panel_header panel_header";
  height: 1200px;
  width: 820px;
}

#panel_grid iframe {
  border: 0;
  /**
   * Make the iframe smaller, then scale it up to original dims s.t. the
   * iframe content is "zoomed in" on, as grafana UI is quite small.
   * Make the charts easy to read.
   */
  /* width: 75%;
  height: 75%;
  transform: scale(calc(4 / 3)); */
  width: 60%;
  height: 60%;
  transform: scale(calc(5 / 3));
  transform-origin: 0 0; /* Ensure scaling happens from the top-left corner */
  border: none; /* Optional: Remove iframe border */
}

#panel_header {
  padding: 2px;
  grid-area: panel_header;
  display: flex;
  justify-content: space-between;
}

#panel_logo {}

#panel_1 {
  grid-area: panel_1;
}

#panel_2 {
  grid-area: panel_2;
}

#panel_2 {
  grid-area: panel_3;
}

#panel_4 {
  grid-area: panel_4;
}
